.deflex-Box
{
	position: absolute !important;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: 0;
	margin: 0 !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: normal;
}

.deflex-Box-size-auto-x
{
	width: auto !important;
	white-space: nowrap !important;
}

.deflex-Box-size-auto-y
{
	height: auto !important;
}

.deflex-Box-size-full-x
{
	width: 100% !important;
}

.deflex-Box-size-full-y
{
	height: 100% !important;
}

.deflex-Box-is-root
{
	position: relative !important;
}

.deflex-Box-overflow-visible
{
	overflow: visible;
	
	&:before,
	&:after
	{
		// Uncollapse margins
		content: '\a0'; // No-break space
		display: block;
		overflow: hidden;
		height: 0;
	}
}